.users {
    min-height: 80vh;
    height: auto;
}

.content {
    display: grid;
    grid-template-columns: 3fr 4fr 5fr;
    padding: 10px;
    color: purple;
}

.photoUrl {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 10px;
}

.pagination{
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 2% 0;
    padding: 5px 15px;
}

.selectedPage {
    border: 2px solid #6c7ac9;
    padding: 5px 15px;
    border-radius: 30px;
    margin: -5px 10px;


}