.blockWrapper{
    /* height: 100%; */
    /* background-image: url(../../images/error-page-404.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    /* background-image: rgba(0, 0, 0, 0.7); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* padding: 10px 10px; */
    flex-direction: column;
  }
/*.over {*/
  /*background: rgba(0, 0, 0, 0.2); /* Цвет фона и значение прозрачности */
 /* position: absolute; /* Абсолютное позиционирование */
 /* left: 0; right: 0; top: 0; bottom: 0; 
 /*  } */
  
  .image{
    max-width: 800px;
    margin-bottom: 10px;
  }
  
  .title{
    font-size: 25px;
    margin-bottom: 10px;
  
  }
  
  .mainpageLink{
    cursor: pointer;
    font-size: 20px;
  }