.blockWrapper{
    background-image: url(../../images/error-page-404.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 300px 30px;
    flex-direction: column;
  }
  
  .image{
    max-width: 160px;
    margin-bottom: 30px;
  }
  
  .title{
    font-size: 25px;
    margin-bottom: 20px;
  
  }
  
  .mainpageLink{
    cursor: pointer;
    font-size: 20px;
  }