.dialogs {
    display: grid;
    grid-template-columns: 4fr 8fr;
    min-height: 70vh;
    height: auto;
    margin-left: 50px;
}

.dialogsItem {
    padding: 10px;
    color: white;
}

.dialog {
    color:black;
}

.active {
    color: gold;
}

.messages {
 padding: 10px;
}

.item img {
    width: 50px;
    height: auto;
    border-radius: 10px;
  }

.addMessages {
    padding-top: 20px;
}

.title {
   text-align: center;
   color: Indigo;
}
  
