.dialogs {
    display: grid;
    grid-template-columns: 4fr 8fr;
    min-height: 100vh;
    height: auto;
    margin-left: 50px;
}

.dialogsItem {
    padding: 10px;
    color: white;
}

.dialog {
    color:black;
}

.active {
    color: gold;
}

.messages {
 padding: 10px;
}

.item img {
    width: 50px;
    height: auto;
    border-radius: 10px;
  }

.addMessages {
    padding-top: 20px;
}

.title {
   text-align: center;
   color: Indigo;
}

.btn {
    display: inline-block;	
    box-sizing: border-box;
    padding: 0 20px;
    margin: 15px 15px 15px 15px;
    outline: none;
    border: none;  
    border-radius: 6px;
    height: 30px;
    line-height: 30px;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    color: Indigo;
    background-color: #5AB1BB;;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
  }
  .btn:focus-visible {
    box-shadow: 0 0 0 2px #666;
  }
  .btn:hover {
    background-color: #DBE7F2;
  }
  .btn:active {
    transform: scale(0.96);
  }
